on: push
name: Reproducibility
jobs:
  knit:
    runs-on: ubuntu-latest
    container:
      image: rocker/tidyverse:latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Knit
      run:  Rscript -e "rmarkdown::render('hw0.Rmd')"
      
